Package: com.spacesaver.duolingox
Name: DuolingoX
Version: 1.0.0
Architecture: iphoneos-arm
Description: Changes Duolingo's User-Agent enabling it to function on iOS 9!
Maintainer: u/spacesaver2000-1
Author: u/spacesaver2000-1
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
